@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.area {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    margin: 0;
    font-family: Georgia, sans-serif;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin: auto;

}

.header--area {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 220px;
    padding: 100px 0;
}
.header--area h1 {
    text-align: right;
}
.header--desc {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    letter-spacing: 8px;
    font-family: 'Roboto';
}
.header--preco {
    margin-bottom: 20px;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.header--preco span {
    font-weight: 700;
}
.button {
    border: 2px solid #000;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.section--texts {
    display: flex;
    padding: 50px 0;
}
.section-text1 {
    flex: 1;

}
.section-text1 h1 {
    font-size: 2.25rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}
.section-text1 span {
    font-size: 1.5rem;
}
.section-text1 p,
.section-text2 p {
    margin: 0;
    font-family: 'Open Sans';
}
.section-text2 p {
    margin-bottom: 30px;
}
.section-text2 {
    flex: 1;
}
.section-fotos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.foto1 {
    background-image: url(../img/foto3.jpg);
    background-size: cover;
    background-position: center;
    min-height: 404px;
}
.foto2 {
    background-image: url(../img/foto2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 404px;
}
.foto3 {
    background-image: url(../img/foto1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 404px;
}
.foto4 {
    background-image: url(../img/foto4.jpg);
    background-size: cover;
    background-position: center;
    min-height: 404px;
}
.section-lugares {
    display: flex;
    padding: 100px 0;
}
.section-sobre {
    flex: 1;
    font-family: 'Open Sans';
    margin-right: 10px;
}
.section-sobre h1{
    font-size: 3rem;
    font-family: Georgia, sans-serif;
}
.section-sobre h3 {
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.section-layout {
    display: grid;
    grid-template-columns: 800px 1fr;
}
.layout1 {
    background-image: url(../img/foto5.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.layout2 {
    background-image: url(../img/foto6.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.bg-dark {
    background-color: #000;
    color: #fff;
}
.section-layout--fotos {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
}
.section-layout--foto {
    margin-top: 100px;
    flex: 1;
    text-align: center;
}
.section-layout--foto img {
    width: 270px;
    height: 270px;
    margin-bottom: 45px;
}
.section-layout--foto h3{
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
.paragraph {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
}

.section-contact {
    display: flex;
    margin: 80px 0;
}
.section-contact-left, 
.section-contact-right {
    flex: 1;
}
.section-contact-left h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.section-contact-left .section-contact-quote {
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 7px;
    margin-bottom: 10px;
}
.section-contact-left .section-contact-resume {
    font-family: 'Opens Sans', sans-serif;
    line-height: 25px;
}
.section-contact-right h3 {
    font-size: 1.5rem;
    font-family: 'Roboto';
}
.section-contact-right ul{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.section-contact-right ul li {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
address {
    font-weight: bold;
}
footer {
    background-color: #333333;
    color: #fff;
    padding: 30px 50px;
    text-align: center;
    font-size: 1.25rem;
}

@media (min-width: 2000px) and (max-width: 2560px) {
    .section-layout {
        grid-template-columns: 1800px 1fr;
    }
}
@media (min-width: 810px) and (max-width: 1079px) {
    .container {
        padding: 20px;
    }
    .section-layout {
        grid-template-columns: 650px 1fr;
    }
}
@media (min-width: 850px) and (max-width: 1079px) {
    .section-layout--foto4{
        text-align: left;
        margin: 20px;
    }
    .section-layout--foto4 h3 {
        margin: 0;
        margin-bottom: 10px;
    }
    .section-layout--foto4 .paragraph {
        margin-left: 0;
    }
}
@media (min-width: 580px) and (max-width: 779px) {
    .container {
        padding: 20px;
    }
    .section--texts .section-text1 p,
    .section--texts .section-text2 p,
    .section-sobre-text {
        font-size: 20px;
    } 
    .section-layout {
        display: flex;
        flex-direction: column;
    }
    .section-layout .layout2 {
        display: none;
    }
    .section--texts {
        flex-direction: column;
    }
    .section--texts .section-text1 {
        margin-bottom: 20px;
    }
    .section-lugares {
        padding: 50px 0;
        flex-direction: column;
    }
    .section-lugares .section-sobre {
        margin-bottom: 20px;
    }
    .section-contact {
        flex-direction: column;
    }
    .section-layout--foto {
        text-align: left;
    }
    .section-layout--foto h3, .paragraph {
        margin-left: 0;
    }
    .section-contact-left .section-contact-quote, .section-contact-resume {
        margin-top: 20px;
        font-size: 20px;
    }
    .section-layout--fotos {
        padding: 20px;
    }
    .section-layout--fotos .section-layout--foto {
        margin: 40px;
    }
    .section-layout--foto .paragraph {
        font-size: 20px;
    }
    .section-contact-right {
        margin-top: 20px;
    }
    .section-contact-right ul li {
        font-size: 20px;
    }
    footer {
        font-size: 30px;
    }
}
@media (min-width: 450px) and (max-width: 579px) {
    .container {
        padding: 20px;
    }
    .section--texts .section-text1 p,
    .section--texts .section-text2 p,
    .section-sobre-text {
        font-size: 20px;
    } 
    .section-fotos {
        grid-template-columns: 1fr;
    }
    .section-fotos .foto2, .foto3, .foto4 {
        display: none;
    }
    .section-lugares {
        padding: 50px 0;
    }
    .section-layout--foto {
        text-align: left;
    }
    .section-layout--foto h3, .paragraph {
        margin-left: 0;
    }
    .section-layout--fotos {
        padding: 20px 0;
    }
    .section-layout--foto {
        margin-top: 50px;
    }
    .section-layout .layout2 {
        display: none;
    }
    .section-layout--foto .paragraph {
        font-size: 20px;
    }
    .section-contact {
        flex-direction: column;
    }
    .section-contact-left .section-contact-quote, .section-contact-resume {
        margin-top: 20px;
        font-size: 20px;
    }
    .section-contact-right {
        margin-top: 20px;
    }
    .section-contact-right ul li {
        font-size: 20px;
    }
    footer {
        font-size: 20px;
    }
} 
@media (min-width: 320px) and (max-width: 579px) {
    .container {
        padding: 20px 10px;
    }
    .header--area h1 {
        font-size: 30px;
        color: #1c1c1c;
    }
    .section-layout .layout1,
    .section-layout .layout2 {
        display: none;
    }
    .section--texts {
        flex-direction: column;
    }
    .section--texts .section-text1 {
        margin-bottom: 20px;
    }
    .section-fotos {
        grid-template-columns: 1fr;
    }
    .section-fotos .foto2, .foto3, .foto4 {
        display: none;
    }
    .section-lugares {
        padding: 50px 0;
        flex-direction: column;
    }
    .section-lugares .section-sobre {
        margin-bottom: 20px;
    }
    .section-layout--foto {
        text-align: left;
        margin-left: 20px;
    }
    .section-layout--foto h3, .paragraph {
        margin-left: 0;
    }
    .section-contact {
        flex-direction: column;
    }
    .section-contact-left .section-contact-quote, .section-contact-resume {
        margin-top: 20px;
        font-size: 20px;
    }
    .section-contact-right {
        margin-top: 20px;
    }
    .section-contact-right ul li {
        font-size: 20px;
    }
    footer {
        font-size: 18px;
    }
}
@media (max-width: 319px) {
    .section-fotos {
        grid-template-columns: 1fr;
    }
    .section-fotos .foto2, .foto3, .foto4 {
        display: none;
    }
    .section-layout .layout1,
    .section-layout .layout2 {
        display: none;
    }
    .section--texts {
        flex-direction: column;
    }
    .section--texts .section-text1 {
        margin-bottom: 20px;
    }
    .section-lugares {
        padding: 50px 0;
        flex-direction: column;
    }
    .section-contact {
        flex-direction: column;
    }
    .section-contact-left .section-contact-quote, .section-contact-resume {
        margin-top: 20px;
        font-size: 20px;
    }
    .section-contact-right {
        margin-top: 20px;
    }
    .section-contact-right ul li {
        font-size: 20px;
    }
}